.DS_Store
.Trash
.ipynb_checkpoints
__pycache__
env

web-out
zip-out

*.apkg
*.atx
*.cpg
*.dbf
*.freelist
*.gdb
*.gdbindexes
*.gdbtable
*.gdbtablx
*.gpkg
*.html
*.horizon
*.json
*.numbers
*.prj
*.pdf
*.png
*.sbn
*.sbx
*.shp
*.shp.xml
*.shx
*.sqlite
*.spx
*.xls
*.xlsx
*.xlsb
*.xml
*.zip

