.DS_Store
.Trash
.ipynb_checkpoints
__pycache__
env

_out_cache
_out_db
_out_debug
_out_log
_out_state
_out_img
_out_web
_out_zip

profile.json

*.apkg
*.atx
*.cpg
*.dbf
*.freelist
*.gdb
*.gdbindexes
*.gdbtable
*.gdbtablx
*.gpkg
*.html
*.horizon
*.numbers
*.prj
*.pdf
*.png
*.sbn
*.sbx
*.shp
*.shp.xml
*.shx
*.sqlite
*.spx
*.xls
*.xlsx
*.xlsb
*.xml
*.zip

